# Local .env files
.env

# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# Crash log files
crash.log

# Exclude override files as they are usually local only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc
